@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
/* :root {

  --color-50: #fdf3f4;
  --color-100: #fbe8eb;
  --color-200: #f6d5da;
  --color-300: #ea9daa;
  --color-400: #e58799;
  --color-500: #d75c77;
  --color-600: #c13d60;
  --color-700: #a22e4f;
  --color-800: #882947;
  --color-900: #752642;
  --color-950: #411020;

  --color-primary: #e58799;
  --color-primary-hover: #d75c77;
  --color-secondary: #fdf3f4;
  --color-secondary-hover: #fbe8eb;

  --primary-text-color: #411020;
  --secondary-text-color: #fdf3f4;

} */

:root{
  --color-primary: #e58799;
  --color-primary-hover: #d75c77;
  --color-secondary: #fdf3f4;
  --color-secondary-hover: #fbe8eb;
  --color-third: #752642;
  --color-third-hover: #fdf3f4;

  /* 50 */
  --primary-bg-color: #fdf3f4;
  /* white */
  --secondary-bg-color: #fff;
  /* 400 */
  --third-bg-color: #e58799;

  /* 400 */
  --btn-primary-color: #e58799; 
  /* 500 */
  --btn-primary-color-hover: #d75c77;

  /* 500 */
  --text-primary: #d75c77;
  /* 900 */
  --text-secondary: #752642;
    /* 50 */
    --text-third: #fdf3f4;
}

[data-theme="pink"]{
  /* --color-50: #fdf3f4;
  --color-100: #fbe8eb;
  --color-200: #f6d5da;
  --color-300: #ea9daa;
  --color-400: #e58799;
  --color-500: #d75c77;
  --color-600: #c13d60;
  --color-700: #a22e4f;
  --color-800: #882947;
  --color-900: #752642;
  --color-950: #411020; */

  /* 50 */
  --primary-bg-color: #fdf3f4;
  /* white */
  --secondary-bg-color: #fff;
  /* 400 */
  --third-bg-color: #e58799;

  /* 400 */
  --btn-primary-color: #e58799; 
  /* 500 */
  --btn-primary-color-hover: #d75c77;

  /* 500 */
  --text-primary: #d75c77;
  /* 900 */
  --text-secondary: #752642;
    /* 50 */
    --text-third: #fdf3f4;
}


[data-theme='purple-heart']{

/* 'purple-heart': {
  '50': '#f3f1ff',
  '100': '#ebe5ff',
  '200': '#d9ceff',
  '300': '#bea6ff',
  '400': '#9f75ff',
  '500': '#843dff',
  '600': '#7916ff',
  '700': '#6b04fd',
  '800': '#5a03d5',
  '900': '#4b05ad',
  '950': '#2c0076',
}, */

  /* 50 */
  --primary-bg-color: #f3f1ff;
  /* white */
  --secondary-bg-color: #fff;
  /* 400 */
  --third-bg-color: #9f75ff;

  /* 400 */
  --btn-primary-color: #9f75ff; 
  /* 500 */
  --btn-primary-color-hover: #843dff;

  /* 500 */
  --text-primary: #843dff;
  /* 900 */
  --text-secondary: #4b05ad;
    /* 50 */
    --text-third: #f3f1ff;

}

[data-theme="mantis"] {

  /* 'mantis': {
    '50': '#f6faf3',
    '100': '#e9f5e3',
    '200': '#d3eac8',
    '300': '#afd89d',
    '400': '#82bd69',
    '500': '#61a146',
    '600': '#4c8435',
    '700': '#3d692c',
    '800': '#345427',
    '900': '#2b4522',
    '950': '#13250e',
}, */

  --primary-bg-color: #f6faf3;
  --secondary-bg-color: #fff;
  --third-bg-color: #82bd69;

  --btn-primary-color: #82bd69; 
  --btn-primary-color-hover: #61a146;

  /* 500 */
  --text-primary: #61a146;
  /* 900 */
  --text-secondary: #2b4522;
  /* 50 */
  --text-third: #f6faf3;
}

html{
  scroll-behavior: smooth;
}

body{
  /* font-family: "Lato", sans-serif; */
  font-family: "Roboto", sans-serif;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* Define the keyframes for the shake animation */
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(20deg); }
  75% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}

/* Apply the animation to the desired element */
.shake {
  animation: shake .8s ease-in-out;
  /* You can adjust the duration and easing function as needed */
}


